.App{

}
/*Mood component START*/
.Mood{
  text-align: center;
  height: 100%;
  width: 100%;
  /* background-color:; */
}
.mood-logo{
    width:50%;
    margin-top: 50%;
}
.mood-img-input{
    position: absolute;
    z-index: 99;
    color: white;
    padding: 5em;
    font-size: 0;
    width: 100%;
    height: 100%;
}

#logo-div {
    width: 100%;
    height: 85vh;
    background-color: #FFF4E3;  
    opacity: 0.62;  
    z-index: 0;
}
.picture-submit{
    margin-bottom: 1em;
}

#submit {
    /* background-color: #FFCE88; */
    opacity: .70;
    height: 15vh;
    z-index: 99;
}
.mood-submit{
    border: 1px solid grey;
}
/*mood END*/