.App{

}
/*Mood component START*/
.Mood{
  text-align: center;
}
.mood-logo{
    width:45%;
}
.mood-img-input{

}
.mood-txt-input{
    border:1px solid grey;
    height:20vh;
    width:90%;
}
.mood-submit{
    border: 1px solid grey;
}
/*mood END*/